export('pca')
export('getComponents')
export('getVars')
export('screeplot')
export('biplot')
export('pairsplot')
export('plotloadings')
export('eigencorplot')
import('ggplot2')
import('ggrepel')
import('lattice')
importFrom('cowplot', 'plot_grid', 'ggdraw', 'draw_label')
importFrom('reshape2', 'melt')
importFrom('stats', 'prcomp', 'var', 'cor', 'cor.test', 'symnum')
importFrom('grDevices', 'colorRampPalette')
